.header__lang-link {
    text-decoration: none;
    color: #fff;
    font: 400 24px/28px 'Inter', sans-serif;
    transition: .7s ease;
}

.header__lang-link:hover {
    opacity: .8;
}

@media screen and (max-width: 768px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}