.logo {
    width: 100%;
    max-width: 176px;
    min-height: 52px;
    text-decoration: none;
    background-image: url(../../images/logo_header.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: .7s ease;
}

.logo:hover {
    opacity: .8;
}

@media screen and (max-width: 768px) {
    .logo {
        max-width: 142px;
    }
}