@font-face {
    font-family: "inter";
    src: url(Inter-Black.ttf);
    src: url(Inter-Bold.ttf);
    src: url(Inter-ExtraBold.ttf);
    src: url(Inter-ExtraLight.ttf);
    src: url(Inter-Light.ttf);
    src: url(Inter-Medium.ttf);
    src: url(Inter-Regular.ttf);
    src: url(Inter-SemiBold.ttf);
    src: url(Inter-Thin.ttf);
    src: url(Inter-VariableFont_slnt\,wght.ttf);
}