.intro__text {
    font: 400 16px/26px 'Inter', sans-serif;
    color: #fff;
    margin: 40px 0 0 0;
    max-width: 690px;
}

@media screen and (max-width: 1024px) {
    .intro__text {
        max-width: 720px;
    }
}