.cover__overlay {
    width: 100%;
    min-height: 740px;
    background-image: url(../../../images/cover_background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.8;
    position: absolute;
    transition: .7s ease;
    z-index: 1;
}

@media screen and (max-width: 1280px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        min-height: 480px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        min-height: 200px;
    }
}