.lead__caption {
    font: 400 10px/14px 'Inter', sans-serif;
    text-align: left;
    margin: 8px 0 0 0;
    text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
    .lead__caption {
        margin-left: 24px;
    }
}